<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TELA - DQC841</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">

    <h3>Lista de Produtos - DQC841</h3>
		<button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd" onclick="$('#form-dqc841').action='/dqc841/salvar';">Adicionar</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>fat_part_no</th>
          <th>parts_no</th>
          <th>unt_usg</th>
          <th>description</th>
          <th>ref_designator</th>
          <th>update_dt</th>
          <th>create_dt</th>
        </tr>
      </thead>
      <tbody>
         <% for (var cont = 0; cont < results.length; cont++) { %>
        <tr>
          <td><%=results[cont].fat_part_no %></td>
          <td><%=results[cont].parts_no %></td>
          <td><%=results[cont].unt_usg %></td>
          <td><%=results[cont].description %></td>
          <td><%=results[cont].ref_designator %></td>
          <td><%=results[cont].update_dt %></td>
          <td><%=results[cont].create_dt %></td>

          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-toggle="modal" data-target="#myModalAdd" data-fat_part_no="<%=results[cont].fat_part_no %>" data-parts_no="<%=results[cont].parts_no %>" data-unt_usg="<%=results[cont].unt_usg %>" data-description="<%=results[cont].description %>" data-ref_designator="<%=results[cont].ref_designator %>" onclick="$('#form-dqc841').attr('action', '/dqc841/salvar?id=<%=results[cont]._id %>');">Editar</a>
            <a href="" class="btn btn-sm btn-danger delete" data-toggle="modal" data-target="#DeleteModal" onclick="$('#form-deletar-dqc841').attr('action', '/dqc841/deletar?id=<%=results[cont]._id %>');">Deletar</a>
          </td>
        </tr>

        <% } %>
        
      </tbody>
    </table>
    <div >
    
   

  </div>

	<!-- Add New Product Modal-->
	  <form action="/dqc841/salvar" id="form-dqc841" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Adicionar Produto</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
         
              <div class="form-group">
                  fat_part_no: <select id="fat_part_no" name="fat_part_no" class="form-control fat_part_no" > 
                    <% for (var i=0; i<resultss.length; i++) { %>
                      <option value="<%=resultss[i].fat_part_no	 %>"> <%=resultss[i].fat_part_no %> </option>
                    <% } %>
                    </select>
              
                </div>
              <div class="form-group">
                  parts_no: <input type="text" name="parts_no" class="form-control parts_no" placeholder="parts_no" required>
              </div>
              <div class="form-group">
                  unt_usg: <input type="text" name="unt_usg" class="form-control unt_usg" placeholder="unt_usg" required>
              </div>
              <div class="form-group">
                  description: <input type="text" name="description" class="form-control description" placeholder="description" required>
              </div>
              <div class="form-group">
                  ref_designator: <input type="text" name="ref_designator" class="form-control ref_designator" placeholder="ref_designator">
              </div>
              
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               <button type="submit" class="btn btn-primary">Salvar</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Delete Product Modal-->
 	  <form id="form-deletar-dqc841" action="/dqc841" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Deletar Produto</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Deletar este Produto?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>



<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
    $(document).ready(function(){
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var id = $(this).data('id');
        var fat_part_no = $(this).data('fat_part_no');
        var parts_no = $(this).data('parts_no');
        var unt_usg = $(this).data('unt_usg');
        var description = $(this).data('description');
        var ref_designator = $(this).data('ref_designator');
        var update_dt = $(this).data('update_dt');
        var create_dt = $(this).data('create_dt');

        $('#EditModal').modal('show');
        $('.id').val(id);
        $('.fat_part_no').val(fat_part_no);
        $('.parts_no').val(parts_no);
        $('.unt_usg').val(unt_usg);
        $('.description').val(description);
        $('.ref_designator').val(ref_designator);
        $('.update_dt').val(update_dt);
        $('.create_dt').val(create_dt);
        
      });

      $('#mytable').on('click','.excel',function(){
        alert ('xxxxxxxxxxx');

        $('#excel').excel('show');
        
      });
   	

    });
</script>
</body>
</html>
