<!DOCTYPE html>  
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>TELA - DQC84</title>
  <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.jqueryui.min.js"></script>

<body>
  <div class="container">
    <h3>Lista de Produtos - DQC84</h3>
     <table class="table table-striped" id="mytable">
      <th class="table-responsive border-left">
        <button id="consultar" name="consultar" class="btn btn-success" data-toggle="modal" data-target="#myModalAdd" onclick="$('#form-dqc84').action='/dqc84/salvar';">Adicionar</button>
      </th>
      <th class="table-responsive border-right">
        <form action="/dqc84/" method="get">
          <input class="form-control pesquisar tt-query" type="text" name="search" placeholder="pesquisar por model">
          <input class="btn btn-primary" type="submit" value="Pesquisar">
      </form>
      </th>
    </table>
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th>fat_part_no</th>
          <th>model</th>
          <th>total_location</th>
          <th>update_dt</th>
          <th>create_dt</th>
          <th>acao</th>

        </tr>
      </thead>
      <tbody>
         <% for (var cont = 0; cont < results.length; cont++) { %>
        <tr>
          <td><%=results[cont].fat_part_no %></td>
          <td><%=results[cont].model %></td>
          <td><%=results[cont].total_location %></td>
          <td><%=results[cont].update_dt %></td>
          <td><%=results[cont].create_dt %></td>
          
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-toggle="modal" data-target="#myModalAdd" data-fat_part_no="<%=results[cont].fat_part_no %>" data-model="<%=results[cont].model %>" data-total_location="<%=results[cont].total_location %>" " onclick="$('#form-dqc84').attr('action', '/dqc84/salvar?id=<%=results[cont]._id %>');">Editar</a>
            <a href="" class="btn btn-sm btn-danger delete" data-toggle="modal" data-target="#DeleteModal" onclick="$('#form-deletar-dqc84').attr('action', '/dqc84/deletar?id=<%=results[cont]._id %>');">Deletar</a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>



	<!-- Add New Product Modal-->
	  <form action="/dqc84/salvar" id="form-dqc84" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Adicionar Produto</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
                <div class="form-group">
                    fat_part_no: <input type="text" name="fat_part_no" class="form-control fat_part_no" placeholder="fat_part_no" required>
                </div>
                <div class="form-group">
                  Model: 
                  <select id="model" name="model" class="form-control mode" > 
                  <% for (var i=0; i<resultss.length; i++) { %>
                    <option value="<%=resultss[i].model %>"> <%=resultss[i].model %> </option>
                  <% } %>
                  </select>
                </div>
               
                <div class="form-group">
                  total_location: <input type="text" name="total_location" class="form-control total_location" placeholder="total_location" required>
                </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
               <button type="submit" class="btn btn-primary">Salvar</button>
             </div>
           </div>
         </div>
        </div>
	 </form>

	 <!-- Delete Product Modal-->
 	  <form id="form-deletar-dqc84" action="/dqc84" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Deletar Produto</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Deletar este Produto?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id" class="form-control id2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>

<script>
    $(document).ready(function(){
     
			//showing data to modal for edit record
      $('#mytable').on('click','.edit',function(){
        var id = $(this).data('id');
        
        var model           = $(this).data('model');
        var fat_part_no     = $(this).data('fat_part_no');
        var total_location  = $(this).data('total_location');
        var parts_no        = $(this).data('parts_no');
        var unt_usg         = $(this).data('unt_usg');
        var description     = $(this).data('description');
        var ref_designator  = $(this).data('ref_designator');
        var update_dt       = $(this).data('update_dt');
        var create_dt       = $(this).data('create_dt');

        $('#EditModal').modal('show');
        $('.id').val(id);
        $('.model').val(model);
        $('.fat_part_no').val(fat_part_no);
        $('.total_location').val(total_location);
        $('.parts_no').val(parts_no);
        $('.unt_usg').val(unt_usg);
        $('.description').val(description);
        $('.ref_designator').val(ref_designator);
        $('.update_dt').val(update_dt);
        $('.create_dt').val(create_dt);
        
      });
			//showing modal for delete record
      $(document).ready(function() {
        $('#example').DataTable( 
            {    
              responsive: true,
              autoFill: true,
              "language": {
                "paginate": {
                "previous": "Anterior",
                "next": "Proximo"
                }
              }
            } 
            
        );
      });

    });
</script>


</body>
</html>
